
@{
    ViewData["Title"] = "Thegioi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0"></script>
    <div id="wrapper"> 
        <!-- end breadcumb -->
        <div id="wp-content" class="wp-inner clearfix">
            <div id="content" class="fl-left">
                <div class="news">
                    <div class="post-news clearfix">
                        <a href="detail.html" class="post-news-left post-thumb fl-left">
                            <img src="~/images/post-new-thumb-01.jpg" alt="">
                        </a>
                        <div class="post-news-right fl-right">
                            <a href="detail.html" class="post-title">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</a>
                            <div class="post-desc">
                                <p>Theo thông báo ngày hôm nay (28/1), đối tác chiến lược của Công ty cổ phần Tập đoàn Masan là Singha Asia Holding Pte Ltd (“Singha”) đã hoàn thành đợt góp vốn đầu tiên trị giá 650 triệu USD vào công ty này.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end cover -->
                    <div class="widget-cover clearfix">
                        <ul class="list-post list-post-left fl-left">
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-02.jpg" alt="">
                                </a>
                                <a href="#" class="post-title" href="">Việt Nam mong muốn sớm ký Hiệp định thương mại tự do với EU</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-03.jpg" alt="">
                                </a>
                                <a href="#" class="post-title" href="">Hiện đại hóa lưới điện khu vực nông thôn TP Hà Nội</a>
                            </li>
                        </ul>
                        <ul class="list-post list-post-right fl-right">
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-02.jpg" alt="">
                                </a>
                                <a href="#" class="post-title" href="">Ngành Điện đồng hành cùng người nuôi tôm</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-03.jpg" alt="">
                                </a>
                                <a href="#" class="post-title" href="">Hiện đại hóa lưới điện khu vực nông thôn TP Hà Nội</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end list-post-cover -->
                <div class="widget-news">
                    <ul class="list-news">
                        <li>
                            <a href="#" class="post-news-left post-thumb">
                                <img src="~/images/post-news-thumb-02.png" alt="">
                            </a>
                            <div class="post-news-right">
                                <a href="#" class="post-title">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</a>
                                <p class="post-time">05/11/2019</p>
                                <div class="post-desc">
                                    <p>Đó là nhận định của Thứ trưởng Bộ Xây dựng - Phan Mỹ Linh tại buổi làm việc với đại diện Hiệp hội Bất động sản Việt Nam, lãnh đạo Công ty CP và Thương mại Thủ đô (Capital House) về nội dung Đề án “Chương trình Thúc đẩy công 28/10/2016 [...]</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="post-news-left post-thumb">
                                <img src="~/images/post-news-thumb-03.png" alt="">
                            </a>
                            <div class="post-news-right">
                                <a href="#" class="post-title">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</a>
                                <p class="post-time">05/11/2019</p>
                                <div class="post-desc">
                                    <p>Đó là nhận định của Thứ trưởng Bộ Xây dựng - Phan Mỹ Linh tại buổi làm việc với đại diện Hiệp hội Bất động sản Việt Nam, lãnh đạo Công ty CP và Thương mại Thủ đô (Capital House) về nội dung Đề án “Chương trình Thúc đẩy công 28/10/2016 [...]</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="post-news-left post-thumb">
                                <img src="~/images/post-news-thumb-04.png" alt="">
                            </a>
                            <div class="post-news-right">
                                <a href="#" class="post-title">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</a>
                                <p class="post-time">05/11/2019</p>
                                <div class="post-desc">
                                    <p>Đó là nhận định của Thứ trưởng Bộ Xây dựng - Phan Mỹ Linh tại buổi làm việc với đại diện Hiệp hội Bất động sản Việt Nam, lãnh đạo Công ty CP và Thương mại Thủ đô (Capital House) về nội dung Đề án “Chương trình Thúc đẩy công 28/10/2016 [...]</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="post-news-left post-thumb">
                                <img src="~/images/post-news-thumb-05.png" alt="">
                            </a>
                            <div class="post-news-right">
                                <a href="#" class="post-title">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</a>
                                <p class="post-time">05/11/2019</p>
                                <div class="post-desc">
                                    <p>Đó là nhận định của Thứ trưởng Bộ Xây dựng - Phan Mỹ Linh tại buổi làm việc với đại diện Hiệp hội Bất động sản Việt Nam, lãnh đạo Công ty CP và Thương mại Thủ đô (Capital House) về nội dung Đề án “Chương trình Thúc đẩy công 28/10/2016 [...]</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="post-news-left post-thumb">
                                <img src="~/images/post-news-thumb-06.png" alt="">
                            </a>
                            <div class="post-news-right">
                                <a href="#" class="post-title">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</a>
                                <p class="post-time">05/11/2019</p>
                                <div class="post-desc">
                                    <p>Đó là nhận định của Thứ trưởng Bộ Xây dựng - Phan Mỹ Linh tại buổi làm việc với đại diện Hiệp hội Bất động sản Việt Nam, lãnh đạo Công ty CP và Thương mại Thủ đô (Capital House) về nội dung Đề án “Chương trình Thúc đẩy công 28/10/2016 [...]</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="post-news-left post-thumb">
                                <img src="~/images/post-news-thumb-07.jpg" alt="">
                            </a>
                            <div class="post-news-right">
                                <a href="#" class="post-title">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</a>
                                <p class="post-time">05/11/2019</p>
                                <div class="post-desc">
                                    <p>Đó là nhận định của Thứ trưởng Bộ Xây dựng - Phan Mỹ Linh tại buổi làm việc với đại diện Hiệp hội Bất động sản Việt Nam, lãnh đạo Công ty CP và Thương mại Thủ đô (Capital House) về nội dung Đề án “Chương trình Thúc đẩy công 28/10/2016 [...]</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="paggin text-center">
                    <ul class="list-paggin">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end content -->
            <div id="sidebar" class="fl-right">
                <div class="banner-ads">
                    <a href="#" class="banner-ads-01"><img src="~/images/banner-thumb-01.jpg" alt=""></a>
                </div>
                <div class="widget">
                    <div class="widget-head">
                        <h4>Đọc nhiều nhất</h4>
                    </div>
                    <div class="widget-top-view">
                        <ul class="list-post">
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-02.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Ngân hàng có kế hoạch tuyển hàng nghìn nhân sự</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-03.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Thưởng tết ngân hàng vần còn nhiều ẩn số</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-04.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Airbus lần đầu tiên bán được máy bay A380 sau 2 năm.. ế</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-05.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Gã khổng lồ Thái định thâu tóm toàn bộ Prime Group</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-07.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Richard Branson: 'Muốn có năng suất hơn? Hãy đúng giờ hơn!'</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="images/post-thumb-08.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Hà Nội: Đẩy nhanh điện khí hóa nông thôn</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-09.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Airbus lần đầu tiên bán được máy bay A380 sau 2 năm.. ế</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="images/post-thumb-02.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Ngân hàng có kế hoạch tuyển hàng nghìn nhân sự</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end top-view -->
                <div class="banner-ads">
                    <a href="#" class="banner-ads-02"><img src="images/banner-thumb-02.jpg" alt=""></a>
                </div>
            </div>
            <!-- end sidebar -->
        </div>
        <!-- end wp-content -->
        <div id="footer">
            <div class="wp-inner clearfix">
                <div class="widget-info fl-left">
                    <div class="widget-head">
                        <h4>Về chúng tôi</h4>
                    </div>
                    <div class="widget-detail">
                        <p><strong>VIETSOZ</strong> được thành lập vào tháng 8 năm 2016, hứa hẹn sẽ là một công ty hàng đầu sẽ cung cấp các giải pháp công nghệ tốt nhất cả trong nước</p>
                        <p class="email">Support@vietsoz.com</p>
                        <p class="phone">09.888.59.692</p>
                    </div>
                </div>
                <div class="widget-category fl-left">
                    <div class="widget-head">
                        <h4>Danh mục</h4>
                    </div>
                    <div class="widget-detail">
                        <ul class="list-category">
                            <li><a href="#">Sự kiện</a></li>
                            <li><a href="#">Xã hội</a></li>
                            <li><a href="#">Thế giới</a></li>
                            <li><a href="#">Giới dục</a></li>
                            <li><a href="#">Nhịp sống trẻ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news fl-left">
                    <div class="widget-head">
                        <h4>Tin tức nổi bật</h4>
                    </div>
                    <div class="widget-detail">
                        <ul class="list-feature">
                            <li><a href="#">Năng lượng Mặt trời: Những ý tưởng sáng tạo và ngộ nghĩnh</a></li>
                            <li><a href="#">Năng lượng Mặt trời: Những ý tưởng sáng tạo và ngộ nghĩnh</a></li>
                            <li><a href="#">Năng lượng Mặt trời: Những ý tưởng sáng tạo và ngộ nghĩnh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-fanpage fl-right">
                    <div class="widget-head">
                        <h4>Fanpage</h4>
                    </div>
                    <div class="widget-detail">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=292&height=196&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="292" height="196" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer -->
        <div class="text-center copyright">
            <p>© 2017 All right reserved - Bản quyền thuộc về VIETSOZ.com</p>
        </div>
    </div>

</body>
</html>

