
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0"></script>
    <div id="wrapper">
        <div id="wp-content" class="wp-inner clearfix">
            <div id="content" class="fl-left">
                <div class="post-detail">
                    <h1 class="post-title">Singha Vừa Rót 650 Triệu USD Đầu Riên Vào Masan</h1>
                    <div class="post-thumb"><img src="images/detail-thumb.jpg" alt=""></div>
                    <p>Theo thông báo ngày hôm nay (28/1), đối tác chiến lược của Công ty cổ phần Tập đoàn Masan là Singha Asia Holding Pte Ltd (“Singha”) đã hoàn thành đợt góp vốn đầu tiên trị giá 650 triệu USD vào công ty này.</p>
                    <p>Ký kết hợp tác chiến lược từ ngày 25/12/2015 với giao dịch trị giá 1,1 tỷ USD, cho tới hôm nay, Singha đã chuyển khoản vốn đầu tư đợt đầu với tổng 650 triệu đô la Mỹ, bao gồm 50 triệu đô la Mỹ để sở hữu 33,3% cổ phần Masan Brewery và 600 triệu đô la Mỹ để sở hữu 14,3% cổ phần Masan Consumer Holdings.</p>
                    <p>Khoản vốn đầu tư 600 triệu đôla Mỹ chuyển vào Masan Consumer Holdings sẽ được sử dụng để mua thêm cổ phần của Masan Consumer, mảng kinh doanh thực phẩm và đồ uống không cồn của Masan.</p>
                    <p>Như vậy, tỷ lệ sở hữu trực tiếp của Masan Consumer Holdings trong công ty Masan Consumer sẽ tăng từ 77,8% lên 96,7%</p>
                    <p>Tập đoàn Masan là một trong những công ty hàng đầu của Việt Nam, công ty con Masan Consumer Holdings tập trung vào các mặt hàng tiêu dùng với nhiều cơ hội tăng trưởng cao như là thực phẩm, đồ uống, với những thương hiệu tiêu biểu như Chinsu, Nam Ngư, Omachi, Vinacafe, Wake-up…</p>
                    <p>Còn Singha Asia là một công ty thành viên quan trọng của Tập đoàn Boon Rawd Brewery - hãng bia đầu tiên và lớn nhất của Thái Lan. Hiện nay công ty đang sản xuất các sản phẩm với nhiều thương hiệu khác nhau như Singha, Leo, B-ing, Purra, Sanvo… thông qua 50 công ty thành viên.</p>
                    <p>
                        Đợt góp vốn đầu tiên này là sự xác thực mạnh mẽ cho hợp tác chiến lược giữa Masan và Singha, tiếp cận gần hơn mục tiêu mở rộng thị trường kinh doanh thực phẩm và đồ uống của hai công ty lớn này, đặt trọng tâm là các nước “Inland ASEAN” (Việt Nam, Thái Lan, Myanmar, Campuchia, Lào) với 250 triệu người tiêu dùng.
                    </p>
                    <p>Đợt góp vốn 450 triệu đôla Mỹ còn lại sẽ gia tăng tỷ lệ sở hữu cổ phần công ty Masan Consumer Holdings của Singha lên 25% sau khi thực hiện đầy đủ các quy định của pháp luật.</p>
                    <div class="fb-comments" data-href="http://hocweb90ngay.com/" data-width="794" data-numposts="5"></div>
                </div>
                <div id="post-related">
                    <div class="post-related-head">
                        <h4>Bài viết liên quan</h4>
                    </div>
                    <div id="wp-slider">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-02.png" alt="">
                                </a>
                                <a href="#" class="post-title" href="">Richard Branson: 'Muốn có năng suất hơn? Hãy đúng giờ hơn!'</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-05.png" alt="">
                                </a>
                                <a href="#" class="post-title">Thưởng tết ngân hàng vần còn nhiều ẩn số</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-03.png" alt="">
                                </a>
                                <a href="#" class="post-title">Airbus lần đầu tiên bán được máy bay A380 sau 2 năm.. ế</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-06.png" alt="">
                                </a>
                                <a href="#" class="post-title" href="">1</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-07.jpg" alt="">
                                </a>
                                <a href="#" class="post-title" href="">1</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-02.png" alt="">
                                </a>
                                <a href="#" class="post-title" href="">1</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-06.png" alt="">
                                </a>
                                <a href="#" class="post-title" href="">1</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-06.png" alt="">
                                </a>
                                <a href="#" class="post-title" href="">1</a>
                            </div>
                            <div class="item">
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-news-thumb-05.png" alt="">
                                </a>
                                <a href="#" class="post-title" href="">1</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end content -->
            <div id="sidebar" class="fl-right">
                <div class="banner-ads">
                    <a href="#" class="banner-ads-01"><img src="images/banner-thumb-01.jpg" alt=""></a>
                </div>
                <div class="widget">
                    <div class="widget-head">
                        <h4>Đọc nhiều nhất</h4>
                    </div>
                    <div class="widget-top-view">
                        <ul class="list-post">
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-02.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Ngân hàng có kế hoạch tuyển hàng nghìn nhân sự</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-03.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Thưởng tết ngân hàng vần còn nhiều ẩn số</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-04.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Airbus lần đầu tiên bán được máy bay A380 sau 2 năm.. ế</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-05.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Gã khổng lồ Thái định thâu tóm toàn bộ Prime Group</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-07.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Richard Branson: 'Muốn có năng suất hơn? Hãy đúng giờ hơn!'</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-08.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Hà Nội: Đẩy nhanh điện khí hóa nông thôn</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-09.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Airbus lần đầu tiên bán được máy bay A380 sau 2 năm.. ế</a>
                            </li>
                            <li>
                                <a href="#" class="post-thumb">
                                    <img src="~/images/post-thumb-02.jpg" alt="">
                                </a>
                                <a href="#" class="post-title">Ngân hàng có kế hoạch tuyển hàng nghìn nhân sự</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end top-view -->
                <div class="banner-ads">
                    <a href="#" class="banner-ads-02"><img src="images/banner-thumb-02.jpg" alt=""></a>
                </div>
            </div>
            <!-- end sidebar -->
        </div>       
        <!-- end footer -->
        <div class="text-center copyright">
            <p>© 2017 All right reserved - Bản quyền thuộc về VIETSOZ.com</p>
        </div>
    </div>
    <!-- end wrapper -->
</body>
</html>